<%-include('header') %>
    <main class="dashboard-container-public">
        <h2>Questions</h2>

        <!-- List of Questions -->
         <% for(var i = 0; i<QuestionArray.length; i++){ %>
        <div class="question-container">
            <p class="question"> <%= QuestionArray[i].Question %></p>
            <div  class="options options-pblicSide">
               <input type="radio" name="kami" id="R1"> <label for="R1">  A) <%= QuestionArray[i].Option1 %> </label>
               <br><br>
               <input type="radio" name="kami" id="R2"> <label for="R2"> B) <%= QuestionArray[i].Option2 %></label>
               <br><br>
               <input type="radio" name="kami" id="R3" > <label for="R3"> C) <%= QuestionArray[i].Option3 %></label>
               <br><br>
                <input type="radio" name="kami"  id="optionR4"> <label for="optionR4" >D) <%= QuestionArray[i].Option4 %></label>
            </div>
            <div class="action-buttons">
                <button class="btn-edit">OK</button>
            </div>
        </div>
    <% }%>


    </main>
</body>
</html>
