<%-include('header') %>
    <main class="dashboard-container-public">
        <h2>Questions</h2>

        <!-- List of Questions -->
         <% for(var i = 0; i<QuestionArray.length; i++){ %>
        <div class="question-container">
            <p class="question"> <%= QuestionArray[i].Question %></p>
            <ul class="options options-pblicSide">
                <li name="liOne" >A) <%= QuestionArray[i].Option1 %> </li>
                <li>B) <%= QuestionArray[i].Option2 %></li>
                <li >C) <%= QuestionArray[i].Option3 %></li>
                <li>D) <%= QuestionArray[i].Option4 %></li>
            </ul>
            <div class="action-buttons">
                <button class="btn-edit">OK</button>
            </div>
        </div>
    <% }%>
<!-- 
        <div class="question-container">
            <p class="question">2. What is 5 + 7?</p>
            <ul class="options">
                <li>A) 10</li>
                <li>B) 11</li>
                <li>C) 12</li>
                <li>D) 13</li>
            </ul>
            <div class="action-buttons">
                <button class="btn-edit">OK</button>
            </div>
        </div> -->

    </main>
</body>
</html>
